.vs/
x64/
bin/
obj/
packages/
Debug/
Release/
*.exe
*.dll
*.lib
*.obj
*.pdb
*.idb
*.ilk
*.iobj
*.ipdb
*.ipch
*.suo
*.db
*.opendb
*.tlog
*.log
*.recipe
*.lastbuildstate
*.user
*.zip
*.7z
*.rar
*.aps
*.res
